# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
- List popular languages that Data Scientists use.
- List some of the commonly used libraries.
- Show a table of Data Science Tools.
- Give examples of evaluating arithmetic expressions in Python.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Seaborn
4. SciPy
5. TensorFLow
6. PyTorch

|Data Science Tools|
|-|
|Jupyter Notebooks|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This (is) a simple arithmetic expression to mu(l)tiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Joshua